#ignore misc BYOND files
*.log
*.int
*.rsc
*.dmb
*.lk

#ignore any files in config/, except those in subdirectories.
/config/*
!/config/*/*

/baystation12.int
/baystation12.int
/code/hub.dm
/code/hub.dm
/code/hub.dm
/code/hub.dm
